@charset "utf-8";

:root {
  --white: #fff;
  --black: #000;
  --cor1: rgb(241, 246, 249);
  --cor2: rgb(75, 85, 161);
  --cor3: rgb(236, 97, 89);
  --cor4: rgb(253, 217, 187);
}

* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style-position: inside;
}

.fa-quote-left,
.fa-quote-right {
  color: var(--cor3);
}