@charset "utf-8";

:root {
  --cor1: #ff7851; /* */
  --cor2: #995e4c;
  --cor3: #ffe6d7; /* */
  --cor4: #004d73;
  --white: #fff;
}

* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style-position: inside;
}