@charset "utf-8";

#header {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* box-shadow: 0 0.1px 4px black; */
  width: 100%;
}

.titulo {
  padding: 16px 0 8px;
  text-align: center;
  width: 100%;
}

#icone-menu {
  display: block;
  cursor: pointer;
  font-size: 1.4em;
  margin: 8px;
}

#nav-bar,
.m-responsivo {
  display: block;
  width: 100%;
}

.m-responsivo ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 8px;
  padding: 8px;
}

#nav-bar ul li {
  list-style-type: none;
  padding: 8px;
  text-align: center;
}

#nav-bar ul li a {
  text-decoration: none;
}

#nav-bar ul li a:hover {
  color: black;
  text-decoration: underline;
}

.menu-responsivo li {
  list-style-type: none;
  display: none;
}

.m-responsivo li {
  display: block;
}