@charset "utf-8";

#header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.192);
  min-height: 80px;
  padding: 8px;
  width: 100%;
}

.titulo {
  text-align: center;
  width: 100%;
}

.titulo a {
  color: var(--cor3);
}

#menu-icone {
  display: block;
  cursor: pointer;
  font-size: 1.4em;
  padding: 12px 8px 6px 8px;
}

#menu-icone > div {
  background-color: var(--cor2);
  height: 3px;
  margin: 3px 0;
  width: 20px;
}

.linha-1, .linha-2, .linha-3 {
  transition: transform 0.4s ease, opacity 0.4s ease; /* Adicionando a propriedade opacity na transição */
}

.mudar .linha-1 {
  transform: translate(0, 2px) rotate(-47deg);
}

.mudar .linha-2 {
  opacity: 0;
}

.mudar .linha-3 {
  transform: translate(0, -10px) rotate(47deg);
}

.menu-responsivo,
.responsivo {
  width: 100%;
}

.menu-responsivo ul {
  display: flex;
  flex-direction: column;
}

.menu-responsivo ul li {
  list-style-type: none;
  margin-bottom: 14px;
  text-align: center;
}

.menu-responsivo ul li a {
  color: var(--cor2);
  font-weight: 600;
}

.menu-responsivo ul li a:hover {
  text-decoration: underline;
}

.menu-responsivo li {
  display: none;
  transition: opacity 0.4s ease; /* Ajustando a transição apenas para a propriedade opacity */
}

.responsivo li {
  display: block;
  opacity: 0;
}