@charset "utf-8";

.heading-2 {
  color: var(--cor2);
  margin: 40px auto 24px;
  text-align: center;
  width: 90%;
}


/* CONTAINER DAS FRASES E TRECHOS */
#container-frases-e-trechos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 8px;
  margin: auto;
  padding: 16px;
  max-width: 80%;
  min-height: 28vh;
  min-width: 70%;
}

#frases-e-trechos {
  color: var(--cor2);
  font-size: 1.1em;
  margin: 8px auto;
  text-align: left;
  width: 100%;
}

.quote {
  display: block;
  margin: auto;
  width: 96%;
}

.direita {
  text-align: right;
}

.fa-quote-left,
.fa-quote-right {
  font-size: 24px;
  font-weight: 600;
  opacity: 0.4;
}

#texto {
  background-image: radial-gradient(circle, var(--cor4), var(--white));
  border-radius: 16px;
  margin: auto;
  max-width: 100%;
  min-width: 70%;
  padding: 8px;
  text-align: center;
}

.frases-e-trechos-autor {
  background-image: radial-gradient(circle, var(--cor4), var(--white));
  border-radius: 16px;
  font-size: 18px;
  margin: 8px auto;
  max-width: 70%;
  min-width: 50%;
  padding: 8px;
  text-align: center;
}


/* CONTAINER DOS DADOS E MENU DOS LIVROS */
.container-dados {
  margin: 16px auto;
  max-width: 85%;
  min-width: 70%;
}

.dados-e-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 16px auto;
  text-align: center;
}

.dados-livros,
.dados-autores {
  display: none;
}

.dados-livros,
.dados-autores,
.abrir-menu {
  background-image: radial-gradient(circle, var(--cor2), var(--cor2));
  border-radius: 16px;
  color: var(--white);
  margin: 16px auto;
  padding: 16px;
  width: 90%;
}

.abrir-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.abrir-menu span {
  padding: 0 16px;
}


/* CONTAINER DOS LIVROS */
.container-livros {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 8px auto;
  width: 96%;
}

.itens {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--cor1);
  height: auto;
  margin: 16px 8px;
  padding: 16px 0 0 0;
  width: 400px;
}

img {
  display: block;
  height: 290px;
  margin: auto;
  object-fit: contain;
  padding: 0 8px;
  width: 100%;
}

.detalhes {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--white);
  color: var(--cor2);
  height: 135px;
  margin: 16px auto 0;
  padding: 16px 8px;
  text-align: center;
  width: 100%;
}

.detalhes p span {
  position: absolute;
  bottom: 113px;
  left: 0;
  background-color: var(--cor3);
  color: var(--white);
  font-size: 11px;
  max-width: 170px;
  padding: 4px;
  text-align: center;
}


/* BOTÃO PAGE UP */
.fa-arrow-up {
  color: var(--cor3);
}

.page-up-btn {
  display: none; /* Esconde o botão inicialmente */
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: var(--white);
  border: 1px solid var(--cor3);
  border-radius: 100%;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  height: 32px;
  margin: 0;
  padding: 0;
  width: 32px;
  z-index: 1;
}

.page-up-btn:hover {
  background-color: var(--cor4);
  border: 1px solid transparent;
}