@charset "utf-8";

.heading-2 {
  color: var(--cor2);
  margin: 40px auto 24px;
  text-align: center;
  width: 90%;
}


/* CONTAINER DAS FRASES E TRECHOS */
/* CONTAINER DAS FRASES E TRECHOS */
#container-frases-e-trechos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 8px;
  margin: auto;
  padding: 16px;
  max-width: 80%;
  min-height: 28vh;
  min-width: 70%;
}

#frases-e-trechos {
  color: var(--cor2);
  font-size: 1.1em;
  margin: 8px auto;
  text-align: left;
  width: 100%;
}

.quote {
  display: block;
  margin: auto;
  width: 96%;
}

.direita {
  text-align: right;
}

.fa-quote-left,
.fa-quote-right {
  font-size: 24px;
  font-weight: 600;
  opacity: 0.4;
}

#texto {
  background-image: radial-gradient(circle, var(--cor4), var(--white));
  border-radius: 16px;
  margin: auto;
  max-width: 100%;
  min-width: 70%;
  padding: 8px;
  text-align: center;
}

.frases-e-trechos-autor {
  background-image: radial-gradient(circle, var(--cor4), var(--white));
  border-radius: 16px;
  font-size: 18px;
  margin: 8px auto;
  max-width: 70%;
  min-width: 50%;
  padding: 8px;
  text-align: center;
}


/* LINK PARA O FULLSCREEN MENU */
.abrir-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(circle, var(--cor2), var(--cor2));
  border-radius: 16px;
  color: var(--white);
  cursor: pointer;
  margin: 40px auto 72px;
  padding: 16px;
  text-align: center;
  width: 90%;
}

.abrir-menu span {
  padding: 0 16px;
}


/* LINHA DO TEMPO */
.linha-do-tempo {
  background-color: var(--cor3);
}

.linha-do-tempo h3 {
  position: relative;
}

.linha-do-tempo h4 {
  margin-top: 16px;
}

.linha-do-tempo ul {
  list-style-type: none;
}

.linha-do-tempo ul li {
  padding: 4px;
}

.linha-do-tempo li::before {
  content: "\21AA";
  padding-right: 0.5em;
}

.linha-do-tempo li.in::before {
  color: var(--cor2);
  content: "\21B3";
  padding-right: 0.5em;
  padding-left: 1.5em;
}

.tag {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 25px;
  color: var(--white);
  cursor: pointer;
  margin: 8px auto;
  padding: 8px 20px;
  width: 100%;
}

/* Ocultar timelines não ativas */
.timeline {
  display: none;
}

/* Linha do tempo real (a régua vertical) */
.timeline {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
}

/* Linha do tempo real (a régua vertical) */
.timeline::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  background-color: var(--white);
  content: '';
  margin-left: -3px;
  width: 6px;
}

/* Container em torno do conteúdo */
.container {
  position: relative;
  background-color: inherit;
  padding: 10px 40px;
  width: 50%;
}

/* Círculos da timeline */
.container::after {
  position: absolute;
  top: 15px;
  right: -17px;
  z-index: 1;
  background-color: var(--white);
  border: 4px solid var(--cor1);
  border-radius: 50%;
  content: '';
  height: 25px;
  width: 25px;
}

/* Ocultar o círculo laranja quando o menu está aberto */
.menu-aberto .container::after {
  display: none;
}

/* Posicionar a div à esquerda */
.left {
  left: 0;
}

/* Posicionar a div à direita */
.right {
  left: 50%;
}

/* Adicionar setas ao container esquerdo (apontando para a direita) */
.left::before {
  position: absolute;
  top: 22px;
  right: 30px;
  z-index: 1;
  border: medium solid var(--white);
  border-color: transparent transparent transparent var(--white);
  border-width: 10px 0 10px 10px;
  content: " ";
  height: 0;
  width: 0;
}

/* Ocultar a seta quando o menu está aberto */
.menu-aberto .left::before,
.menu-aberto .right::before {
  display: none;
}

/* Adicionar setas ao container direito (apontando para a esquerda) */
.right::before {
  position: absolute;
  top: 22px;
  left: 30px;
  z-index: 1;
  border: medium solid var(--white);
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--white) transparent transparent;
  content: " ";
  height: 0;
  width: 0;
}

/* Fixar o círculo para divs do lado direito*/
.right::after {
  left: -16px;
}

/* Conteúdo atual */
.content {
  position: relative;
  background-color: var(--white);
  border-radius: 6px;
  padding: 20px 30px;
}

.ribbon,
.nobel {
  position: absolute;
  top: -12px;
  right: -25px;
  background-color: var(--cor2);
  border-radius: 25px;
  color: var(--white);
  font-size: 12px;
  padding: 4px;
  text-align: center;
  transform: rotate(20deg);
  width: 72px;
}

/* BOTÃO PAGE UP */
.fa-arrow-up {
  color: var(--cor2);
}

.page-up-btn {
  display: none; /* Esconde o botão inicialmente */
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: var(--white);
  border: 1px solid var(--cor2);
  border-radius: 100%;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  height: 32px;
  margin: 0;
  padding: 0;
  width: 32px;
  z-index: 1;
}

.page-up-btn:hover {
  background-color: var(--cor1);
  border: 1px solid transparent;
}


/* Media queries - Telas com menos de 600 px de largura */
@media screen and (max-width: 768px) {
  /* Posicionar a timeline na esquerda */
  .timeline::after {
    left: 31px;
  }
  
  .container {
    padding-left: 70px;
    padding-right: 25px;
    width: 100%;
  }
  
  /* Garantir que todas as setas fiquem voltadas para o lado esquerdo */
  .container::before {
    border: medium solid var(--white);
    border-color: transparent var(--white) transparent transparent;
    border-width: 10px 10px 10px 0;
    left: 60px;
  }

  /* Garantir que todos os círculos fiquem no mesmo local */
  .left::after, .right::after {
    left: 15px;
  }
  
  /* Fazer os containeres do lado direito comportarem-se como os do lado esquerdo */
  .right {
    left: 0%;
  }
}