@charset "utf-8";

h2 {
  margin: 16px auto;
  text-align: center;
}

#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* height: 510px; */
  min-height: 60vh;
  margin: auto;
  padding: 16px 8px;
  width: 90%;
}

.img-borda {
  border: 15px solid transparent;
  border-image: url(../images/img-prateleira.jpg) 8% stretch;
  padding: 15px;
}

/* #imagem-livro-container {
  border-radius: 8px;
  height: 400px;
  margin: auto;
  overflow: hidden;
  padding: 24px;
  max-width: 400px;
} */

/* img {
  display: block;
  border-radius: 16px;
  height: 262px;
  margin: auto;
  object-fit: contain;
  width: 100%;
} */

#frases-e-trechos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
  margin: 8px auto;
  width: 80%;
  text-align: left;
}

.fa-quote-left,
.fa-quote-right {
  font-size: 24px;
  margin: 0 16px;
  opacity: 0.4;
}

.frases-e-trechos-autor {
  font-size: 18px;
  margin: 8px auto;
  text-align: center;
}

button {
  display: block;
  border-radius: 3px;
  cursor: pointer;
  margin: 8px auto;
  padding: 16px 24px;
  text-align: center;
}
