@charset "utf-8";

* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ol {
  list-style-position: inside;
}