@charset "utf-8";

.imagem-home {
  background-image: url("../images/estante-de-livros.jpg");
  background-size: cover;
  height: 90vh;
}

.heading-2 {
  margin: 32px 8px;
  text-align: center;
}

.container-carrossel-livros {
  border: 1px solid black;
  margin: auto;
  width: 90%;
}

.carrossel-livros {
  border: 1px solid red;
  margin: auto;
  width: 80%;
}

.item {
  border: 1px solid coral;
  cursor: pointer;
  margin: 8px;
  width: 205px;
}

.item:hover {
  color: #fa6400;
}

.imagem {
  display: block;
  height: 298px;
  margin: auto;
  width: 200px;
}

.imagem:hover {
  opacity: 0.7;
  transition: .3s;
}

.texto {
  margin-top: 10px;
  text-align: center;
}

.texto-titulo {
  font-style: italic;
}

.texto-autor {
  color: #fa6400;
}
