h2 {
  margin-top: 20px;
}

main div {
  margin: auto;
  overflow-x: auto;
  width: 96%;
}

table {
  min-width: 900px;
  border-collapse: collapse;
  margin-top: 50px;
  overflow-x: auto;
}

tr {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: left;
  /* width: 40%; */
}

ul {
  list-style-position: inside;
}