@charset "utf-8";

.heading-2 {
  margin: 16px auto;
  text-align: center;
  width: 90%;
}


/* CONTAINER DO BACKGROUND */
.container-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('../images/img-linha-do-tempo.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  height: 420px;
  margin: 16px auto;
  text-align: center;
  width: 85%;
}

.abrir-menu {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 16px;
  color: #fff;
  margin: 8px auto;
  padding: 16px;
  width: 90%;
}

.abrir-menu {
  position: relative;
  cursor: pointer;
}

.abrir-menu span {
  padding: 0 16px;
 }


 /* FULLSCREEN MENU */
.fullscreen-menu-conteudo {
  position: relative;
  top: 18%;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.livros-seculos {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0,0,0, 0.97);
  height: 100%;
  overflow-x: hidden;
  transition: 0.5s;
  width: 0;
}

.livros-seculos a {
  color: #818181;
  cursor: pointer;
  font-size: 36px;
  padding: 8px;
  text-decoration: none;
  transition: 0.3s;
}

.livros-seculos ul {
  padding: 16px 0;
}

.livros-seculos li {
  color: #818181;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: 500;
  margin: auto;
  padding: 8px;
  transition: 0.3s;
  width: 95%;
}

.livros-seculos a:hover,
.livros-seculos a:focus {
  color: #f1f1f1;
}

.livros-seculos ul li:hover {
  color: #f1f1f1;
}

.livros-seculos .fechar-menu {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}


/* LINHA DO TEMPO */
.linha-do-tempo {
  background-color: var(--cor3);
}

.linha-do-tempo h3 {
  position: relative;
}

.linha-do-tempo ul {
  list-style-type: none;
}

.linha-do-tempo li::before {
  content: "\21AA";
  padding-right: 0.5em;
}

.tag {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  margin: 8px auto;
  padding: 8px 20px;
  width: 100%;
}

/* Estilo para a tag ativa */
.active {
  /* background-color: #fff; */
  /* border: 1px solid #818181; */
  color: #818181;
}

/* Ocultar timelines não ativas */
.timeline {
  display: none;
}

/* Linha do tempo real (a régua vertical) */
.timeline {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
}

/* Linha do tempo real (a régua vertical) */
.timeline::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  background-color: white;
  content: '';
  margin-left: -3px;
  width: 6px;
}

/* Container em torno do conteúdo */
.container {
  position: relative;
  background-color: inherit;
  padding: 10px 40px;
  width: 50%;
}

/* Círculos da timeline */
.container::after {
  position: absolute;
  top: 15px;
  right: -17px;
  z-index: 1;
  background-color: white;
  border: 4px solid var(--cor1);
  border-radius: 50%;
  content: '';
  height: 25px;
  width: 25px;
}

/* Ocultar o círculo laranja quando o menu está aberto */
.menu-aberto .container::after {
  display: none;
}

/* Posicionar a div à esquerda */
.left {
  left: 0;
}

/* Posicionar a div à direita */
.right {
  left: 50%;
}

/* Adicionar setas ao container esquerdo (apontando para a direita) */
.left::before {
  position: absolute;
  top: 22px;
  right: 30px;
  z-index: 1;
  border: medium solid white;
  border-color: transparent transparent transparent white;
  border-width: 10px 0 10px 10px;
  content: " ";
  height: 0;
  width: 0;
}

/* Ocultar a seta quando o menu está aberto */
.menu-aberto .left::before,
.menu-aberto .right::before {
  display: none;
}

/* Adicionar setas ao container direito (apontando para a esquerda) */
.right::before {
  position: absolute;
  top: 22px;
  left: 30px;
  z-index: 1;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  content: " ";
  height: 0;
  width: 0;
}

/* Fixar o círculo para divs do lado direito*/
.right::after {
  left: -16px;
}

/* Conteúdo atual */
.content {
  position: relative;
  background-color: white;
  border-radius: 6px;
  padding: 20px 30px;
}

/* Media queries - Telas com menos de 600 px de largura */
@media screen and (max-width: 768px) {
  /* Posicionar a timeline na esquerda */
  .timeline::after {
    left: 31px;
  }
  
  .container {
    padding-left: 70px;
    padding-right: 25px;
    width: 100%;
  }
  
  /* Garantir que todas as setas fiquem voltadas para o lado esquerdo */
  .container::before {
    border: medium solid white;
    border-color: transparent white transparent transparent;
    border-width: 10px 10px 10px 0;
    left: 60px;
  }

  /* Garantir que todos os círculos fiquem no mesmo local */
  .left::after, .right::after {
    left: 15px;
  }
  
  /* Fazer os containeres do lado direito comportarem-se como os do lado esquerdo */
  .right {
    left: 0%;
  }
}


.ribbon {
  position: absolute;
  top: -12px;
  right: -25px;
  background-color: #ff9800;
  border-radius: 25px;
  color: white;
  font-size: 12px;
  padding: 4px;
  text-align: center;
  transform: rotate(20deg);
  width: 72px;
}