@charset "utf-8";

/* PRIMEIRO CONTAINER */
.container-1 {
  margin: 40px auto 24px;
  width: 95%;
}

.container-1 h2 {
  margin: 8px;
  text-align: center;
}

.container-1 p {
  margin: 8px;
  text-align: center;
}

.container-1__filtros {
  display: flex;
  flex-direction: column;
  margin: 8px auto;
  width: 90%;
}

.container-1__filtro {
  border: 3px solid lightgray;
  border-radius: 32px;
  cursor: pointer;
  margin: 16px auto;
  padding: 16px;
  text-align: center;
  width: 80%;
}



/* CONTAINER DOS LIVROS */
.container-livros {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 8px auto;
  width: 96%;
}

.itens {
  background-color: rgba(211, 211, 211, 0.5);
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 16px 8px;
  padding: 16px 16px 0;
  width: 400px;
}

img {
  display: block;
  height: 262px;
  margin: auto;
  object-fit: contain;
  width: 100%;
}

.detalhes {
  margin: 8px auto;
  padding: 16px 8px;
  text-align: center;
  width: 100%;
}


/* SEGUNDO CONTAINER */
.container-2,
.livros-segmento {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0,0,0, 0.97);
  height: 100%;
  overflow-x: hidden;
  transition: 0.5s;
  width: 0;
}

.fullscreen-menu__conteudo,
.fullscreen-menu-segmento {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 18%;
  list-style-type: none;
  text-align: center;
  width: 100%;
}

.container-2 a,
.livros-segmento a {
  color: #818181;
  cursor: pointer;
  font-size: 36px;
  padding: 8px;
  text-decoration: none;
  transition: 0.3s;
}

.container-2 li,
.livros-segmento li {
  color: #818181;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: 500;
  margin: auto;
  padding: 8px;
  transition: 0.3s;
  width: 95%;
}

.container-2 a:hover,
.container-2 a:focus,
.livros-segmento a:hover,
.livros-segmento a:focus {
  color: #f1f1f1;
}

ul li:hover {
  color: #f1f1f1;
}

.container-2 .fechar-menu,
.livros-segmento .fechar-menu-segmento {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}