@charset "utf-8";

@media (min-width: 992px) {
  /* HEADER */
  #header {
    flex-direction: row;
  }

  .titulo {
    margin-left: 16px;
    text-align: left;
  }

  #menu-icone {
    display: none;
  }

  .menu-responsivo ul {
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
  }

  .menu-responsivo ul li {
    display: block;
    margin-bottom: 0;
    padding: 8px;
  }


  /* INDEX */
  .imagem-home {
    height: 88vh;
  }

  .container-carrossel-livros {
    width: 93%;
  }


  /* LIVROS LIDOS */
  .dados-livros,
  .dados-autores,
  .abrir-menu {
    max-width: 30%;
  }


  /* FULLSCREEN MENU */
  .fullscreen-menu-conteudo {
    columns: 2;
    max-width: 80%;
  }

  .livros-segmento li,
  .livros-seculos li {
    font-size: 1.2em;
  }
}